{%- set external_urls = {
  'github': 'https://github.com/zudi-lin/pytorch_connectomics/tree/master',
  'github_issues': 'https://github.com/zudi-lin/pytorch_connectomics/issues',
  'docs': 'https://zudi-lin.github.io/pytorch_connectomics/build/html/index.html',
  'tutorials': 'https://zudi-lin.github.io/pytorch_connectomics/build/html/tutorials/snemi.html',
  'home': 'https://zudi-lin.github.io/pytorch_connectomics/build/html/index.html',
  'get_started': 'https://zudi-lin.github.io/pytorch_connectomics/build/html/index.html',
  'vcg': 'https://vcg.seas.harvard.edu/',
  'lichtman': 'https://lichtmanlab.fas.harvard.edu',
  'pytorch': 'https://pytorch.org/', 
}
-%}