{%- set external_urls = {
  'github': 'https://github.com/zudi-lin/pytorch_connectomics/tree/master',
  'github_issues': 'https://github.com/zudi-lin/pytorch_connectomics/issues',
  'docs': 'https://zudi-lin.github.io/pytorch_connectomics/build/html/index.html',
  'slack': 'https://pytorch.slack.com',
  'tutorials': 'https://zudi-lin.github.io/pytorch_connectomics/build/html/tutorials/snemi.html',
  'home': 'https://zudi-lin.github.io/pytorch_connectomics/build/html/index.html',
  'get_started': 'https://zudi-lin.github.io/pytorch_connectomics/build/html/index.html',
  'features': 'https://pytorch.org/features',
  'hub': 'https://pytorch.org/hub',
  'vcg': 'https://lichtmanlab.fas.harvard.edu',
  'lichtman': 'https://lichtmanlab.fas.harvard.edu',
  'cbs': 'http://cbs.fas.harvard.edu', 
}
-%}