# All other configurations are set by default. If you want to add new config options,
# please modify ../connectomics/config/config.py
SYSTEM:
  NUM_GPUS: 4
  NUM_CPUS: 4
MODEL:
  ARCHITECTURE: 'unet_residual_3d'
  INPUT_SIZE: [112, 112, 112]
  OUTPUT_SIZE: [112, 112, 112]
  IN_PLANES: 1
  OUT_PLANES: 1
  LOSS_OPTION: [['WeightedBCE', 'DiceLoss']]
  LOSS_WEIGHT: [[1.0, 1.0]]
  TARGET_OPT: ['0']
  WEIGHT_OPT: [['1', '0']]
DATASET:
  IMAGE_NAME: 'img/train_im.tif'
  LABEL_NAME: 'label/train_label.tif'
  INPUT_PATH: 'datasets/Lucchi/'
  OUTPUT_PATH: 'outputs/Lucchi_mito_baseline'
  PAD_SIZE: [56, 56, 56]
AUGMENTOR:
  ROTATE: 
    ENABLED: True
  RESCALE:
    ENABLED: True
  # Since the Lucchi dataset is isotropic (each voxel is cubic), we
  # apply flip augmentation also to x-z and z-y axes by default.
  FLIP:
    ENABLED: True
    DO_ZTRANS: 1
  ELASTIC:
    ENABLED: True
  GRAYSCALE:
    ENABLED: True
  MISSINGPARTS:
    ENABLED: True
  MISSINGSECTION:
    ENABLED: True
  MISALIGNMENT:
    ENABLED: True
  MOTIONBLUR:
    ENABLED: True
SOLVER:
  LR_SCHEDULER_NAME: "WarmupMultiStepLR"
  BASE_LR: 0.01
  ITERATION_STEP: 1
  ITERATION_SAVE: 5000
  ITERATION_TOTAL: 50000
  SAMPLES_PER_BATCH: 4
  STEPS: (40000, 45000)
INFERENCE:
  INPUT_SIZE: [112, 112, 112]
  OUTPUT_SIZE: [112, 112, 112]
  IMAGE_NAME: 'img/test_im.tif'
  OUTPUT_PATH: 'outputs/Lucchi_mito_baseline/test'
  OUTPUT_NAME: 'result.h5'
  PAD_SIZE: [56, 56, 56]
  AUG_MODE: 'mean'
  AUG_NUM: 4
  STRIDE: [56, 56, 56]
  SAMPLES_PER_BATCH: 16
